form{
    border: solid 0.3vw black;
    font-size: 1.5vw;
    background-color: whitesmoke;
}
table{
    margin: auto;
}
h1{
    font-size: 3vw;
    background-color:lightblue;
    border: solid 0.3vw black;
}
p{
    display: inline-block;
    border-radius: 10%;
    border: solid 0.3vw black;
    font-size: 1.5vw;
    background-color: whitesmoke;
}
#admin{
    display: inline-block;
    width: 10vw;
    height: 3vw;
    border-radius: 30%;
    border: solid 0.4vw black;
    text-align:center;
    line-height: 3vw;
    font-size: 1.5vw;
    text-decoration: none;
    background-color: gainsboro;
    filter: drop-shadow(1vw 1vw 0 gray);
}
#back{
    background:
      linear-gradient(
        90deg,
        rgba(208, 147, 82, 0.6),
        rgba(192, 134, 70, 0.6) 60%,
        rgba(208, 147, 82, 0.6)
      ),
      repeating-radial-gradient(
        ellipse at 60% 500%,
        #c08646,
        #c08646 0.2%,
        #d09352 0.6%,
        #d09352 1%
      );
}
#flortinput{
    position: fixed;
    top: 2vw;
    left: 5vw;
    display: inline-block;
    font-size: 2vw;
}
#s{
    background:linear-gradient( cornflowerblue,skyblue);
}
#b{
    background:linear-gradient(yellow,gold);
}
#l{
    background:linear-gradient(yellowgreen,chartreuse);
}
.button{
    display: inline-block;
    width: 30vw;
    height: 20vw;
    border-radius: 5%;
    border: solid 0.4vw black;
    text-align:center;
    line-height: 20vw;
    margin :1vw;
    font-size: 7vw;
    color: black;
    text-decoration-line: none;
    filter: drop-shadow(1vw 1vw 0 gray);
}
.flortbutton{
    position: fixed;
    top: 3vw;
    right: 3vw;
    display: inline-block;
    border-radius: 30%;
    border: solid 0.2vw black;
    text-align:center;
    line-height: 3vw;
    font-size: 1.5vw;
    text-decoration: none;
    background-color: gainsboro;
    filter: drop-shadow(1vw 1vw 0 gray);
}
.cube{
    display:block;
    width: 60px;
    height: 60px;
    border: solid 3px black;
    text-align:center;
    line-height: 60px;
    font-size: 30px;
    background:linear-gradient(white,lightgray);
}